@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.subText{
    position: relative;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
}

.canvasContainer::before{
    content: "";
    position: fixed;
    width: 50px;
    height: 121%;
    top: -10%;
    left: 60%;
    right: 0;
    bottom: -10%;
    z-index: 2;
    box-shadow: inset 10px 0 10px -2px rgba(0,0,0,1);
}

.canvas1{
    top: -15%;
    height: 125%;
    width: 65%;
    float:right;
    position:fixed;
    z-index: 0;
    /*box-shadow: inset 10px 10px 10px 10px rgba(255, 255, 0, 0.2);*/
}

.contentRight {
    left: 60%;
    margin-right: 60%;
    float: right;
}

.contentLeft{
    right: 40%;
    margin-left: 40%;
    float: left;
    padding-right: 10px;
}

.titleText{
    display: flex;
    margin-right: 40%;
    color: #ffffff;
    text-align: left;
    font-family: Montserrat, sans-serif;
    font-size: 130px;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
}

.subTitle{
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
}

.aboutLayout {
    position: relative;
    width: 100%;
}

.commandLine{
    outline: none;
    border: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    height: 100px;
}

.commandLineHeader {
    position: relative;
    height: 20px;
    width: 100%;
    align-content: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding-top: 17px;
    padding-left: 5px;
    background: #38363f;
    color: #ffffff;
    font-family: monospace, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
}

@media only screen and (max-width: 600px) {
    .canvas1{
        z-index: -1;
        left: 0;
        padding: 0;
        height: 50%;
        margin-top: 50%;

    }
    .canvasContainer::before{
        content: "";
        visibility: hidden;
    }
    .titleText {
        font-size: 60px;
        margin: 0 0 0;
        text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    }

    .contentRight{
        width: 100%;
    }
    .contentLeft{
        width: 100%;
    }
    .subText{
        margin-top: 60%;
        text-align: center;
        padding: 0;
    }
}

.index-module_type__E-SaG {
    content: '_';
    display: inline-block;
    width: 10em;
    border-bottom: 10px solid;
    position: relative;
    top: 10px; /* Adjust the value to move the underscore up or down */
    left: 5px;
}