@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.button{
    display: block;
    position: absolute;
    bottom: 2%;
    width: 100%;
    padding: 10px;
}

.featuredContainer {
    width: 100%;
}

.titleTextContainer{
    position: sticky;
    top: 0;
    padding-top: 10%;
    margin-bottom: 65%;
    padding-bottom: 50%;
}

.extensionName {
    font-size: 70px;
    font-weight: 800;
    margin-top: 6%;
    padding-left: 10px;
}

.contactText{
    position: relative;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: #ffffff;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 350;
}

.subText{
    position: relative;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 350;
    padding: 10px;
}

.titleText{
    display: flex;
    color: #ffffff;
    text-align: left;
    font-family: Montserrat, sans-serif;
    font-size: 150px;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
}

.subTitle{
    color: #b6b6b6;
    font-size: 120px;
    font-weight: 800;
}

.aboutLayout {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    grid-area: auto;
}

.gridLeft {
    grid-column: 1;
}

.gridRight {
    grid-column: 2;
    height: 96.5%;
    margin: 10px;
    background: rgba(134, 132, 132, 0.16);
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.8px);
    -webkit-backdrop-filter: blur(4.8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

@media only screen and (max-width: 1900px) {
    .titleText{
        font-size: 110px;
    }
    .extensionName {
        font-size: 50px;
    }
    .titleTextContainer{
        margin-bottom:85%;
    }
    .subText{
        font-size: 18px;
    }
}
@media only screen and (max-width: 600px) {
    .titleText{
        font-size: 60px;
    }
    .subTitle{
        font-size: 50px;
    }
    .titleTextContainer{
        position: sticky;
        top: 30%;
        padding-top: 10%;
        margin-bottom: 260%;
        padding-bottom: 100%;
    }
    .extensionName {
        position: absolute;
        margin-top: 27%;
        padding-left: 40%;
        font-size: 30px;
    }
    .aboutLayout {
        grid-template-columns: 1fr;
    }
    .gridLeft {
        width:85vw;

    }
    .gridRight {
        width:82vw;
    }
    .subText {
        font-size: 15px;
    }
    .button{
        position: relative;
        width: 100%;
        padding-top: 20px;
    }
    .featuredContainer {
        visibility: hidden;
    }
    .footer{
        width:85vw;
    }

}

.index-module_type__E-SaG {
    content: '_';
    display: inline-block;
    width: 10em;
    border-bottom: 10px solid;
    position: relative;
    top: 10px; /* Adjust the value to move the underscore up or down */
    left: 5px;
}