.skillsGridLayout {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
    grid-area: auto;
    padding: 20px;
}

.card{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: ease-in-out 0.5s;
    padding: 10px;
}

.outline-primary{
    background-color: #c62d78;
    color: #c62d78;
}

.titleText{
    color: #ffffff;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
}

@media only screen and (max-width: 600px) {
    .skillsGridLayout {
        grid-template-columns: 1fr;
        padding: 0px;
    }

    .titleText{
        padding-top: 50px;
    }

    .card:hover {
        transform: scale(1);
    }
}